body {
    font-family: 'Karla', sans-serif;
    background: hsl(204, 43%, 93%);
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    height: 65vh;
    width: 60%;
    background: #ffffff;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "join join" "subscription why-us";
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

#join {
    grid-area: join;
    background-color: #ffffff;
}

#join>#title {
    color: hsl(179, 62%, 43%);
    margin: 0 0 24px 0;
    letter-spacing: -1px;
}

#join>#subtitle {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

#join>#description {
    line-height: 1.5em;
    color: hsl(214, 7%, 79%);
}

#subscription {
    grid-area: subscription;
    background-color: hsl(179, 61%, 44%);
}

#subscription>#monthly {
    color: hsl(165, 42%, 93%)
}

#subscription>#price,
#per-month {
    display: inline;
}

#subscription>#price {
    color: #ffffff;
    font-size: 2em;
    margin-right: 10px;
}

#subscription>#per-month {
    color: hsl(181, 50%, 61%)
}

#subscription>#subscription-description {
    color: hsl(186, 56%, 79%);
}

#subscription>#sign-up {
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1.2em;
    margin-top: 10px;
}

#subscription #sign-up:focus {
    outline: none;
}

#subscription #sign-up:hover {
    box-shadow: 0 0 3px 5px rgba(95, 95, 95, 0.2);
    cursor: pointer;
}

#why-us {
    grid-area: why-us;
    background-color: hsl(179, 47%, 52%);
}

#why-us>#why {
    color: hsl(165, 42%, 93%);
}

#why-us>#why-us-description {
    color: hsl(186, 56%, 79%);
}

#join,
#subscription,
#why-us {
    padding: 2em;
}

@media only screen and (max-width:375px) {
    #container {
        display: grid;
        height: 90vh;
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 210px);
        grid-template-areas: "join" "subscription" "why-us";
    }
    #join,
    #subscription,
    #why-us {
        padding: 1em;
    }
    #join>#title {
        font-size: 20px;
    }
    #join>#subtitle {
        font-size: 15px;
    }
    #join>#description {
        font-size: 14px;
    }
    #subscription>#monthly {
        margin-top: 0;
    }
    #why-us>#why {
        margin-top: 0;
    }
    #why-us>#why-us-description {
        font-size: 14px;
    }
}